body{
    margin: 0;
    padding: 0;
}

.header-main{
    background: linear-gradient(180deg, #5e07078a 0%, #1a1949d3 60%), url('./assets/img/hero-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo{
    width: auto;
    height: 80px;
}

.nav{
    border-bottom: 1px solid rgba(187, 185, 185, 0.527);
}

.nav-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    color: #fff;
    padding: 0;
}


.nav__link{
    cursor: pointer;
    transition: color 1s;
}

.logo{
    cursor: pointer;
}

.link-item{
    margin-left: 80px;
    font-size: 18px;
    padding-top: 2px;
}

.link-item:first-child{
    margin: 0;
}




.nav__link:hover{
    color: red;
    border-bottom: 2px solid rgb(245, 0, 0);
}

a{
    color: white;
    text-decoration: none;
}

.header__button{
    border-radius: 20px;
    padding: 8px 20px;
    transition: all 0.5s;
    border: none;
}

.header__button:hover{
    background-color: rgb(243, 0, 0);
    color: white;
}

.header-content{
    text-align: center;
    width: min-content;
    margin: 0 auto;
    margin-top: 300px;
    white-space: nowrap;
    color: white;
}

.booking{
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.452);
    bottom: 0;
    transform: translateY(50%);
    width: min-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    padding: 60px 40px;
    border-radius: 10px;
}



.booking-item{
    display: flex;
    align-items: center;
    margin-left: 60px;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 15px;
}

.booking-item div{
    background-color: #000;
    height: 80%;
    width: 1px;
}

.booking-item:first-child{
    margin: 0;
}

.booking__input{
    width: 120px;
    border: none;
    padding-left: 10px;
}

.booking__input:focus{
    border: none;
    list-style: none;
    outline: none;
}

.input-number{
    width: 230px;
}

.booking__button{
    margin-left: 60px;
}

::-webkit-input-placeholder {
    text-align:center;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       text-align:center;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       text-align:center;  
    }
    
    :-ms-input-placeholder {  
       text-align:center; 
    }

.booking__button{
    padding: 10px 30px;
}

.principles{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.principles-img{
    border-radius: 2px;
   
}

.principles-content{
    width: 60%;
    height: 300px;
}

.principles-item{
    height: 300px;
}

.principles-cards{
    display: flex;
}







